<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>

<link href="static/css/style.css" rel="stylesheet">
<style>
body { background-image: url("static/images/order.jpg"); -webkit-background-size: 200%;}
</style>

</head>

<body>

<form   name="feedback"
	method="post"
	style="margin-top: 5%;">
    <p><b>Ваш отзыв/вопрос:</b></p>
    <input type="text"
           placeholder="Сообщение"
           id="comment_feedback"
           value="{{ request.form.feedback }}"
           name="feedback"
	class="text">

<style>
input.text {width:  200px; height: 70px;}
</style>

    <p><input class="btn btn-default" value="Отправить" type="submit"></p>

</form>

<p><a href="{{url_for('order_page')}}"> Назад<a></p>
</body>
</html>
