<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ваш заказ</title>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                for (var i = 0; i < messages.length; i++) {
                    alert(messages[i]);
                }
            </script>
        {% endif %}
    {% endwith %}
    <link href="static/css/style.css" rel="stylesheet">
    <style>
        body {
            background-image: url("static/images/order.jpg");
            -webkit-background-size: 200%;
        }
    </style>
</head>
<body>
<h1>{{ "Заказ №{}".format(order.id) }}</h1>
<form name="qty" method="post">
    <table>
        <tr>
            <th>Магазин</th>
            <th>Товар</th>
            <th>Количество</th>
            <th>Сумма</th>
        </tr>
        {% for line in lines %}
            <tr>
                <td>{{ line.product_id.shop_id.name }}</td>
                <td>{{ line.product_id.name }}</td>
                <td>{{ (line.product_id.price * line.qty) | round(2, 'common') }}</td>
                <td>
                    <input type="text" name="{{ line.id }}" value="{{ line.qty }}">
                </td>

            </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Пересчитаь">
</form>
<h2>Сумма к оплате: </h2>
<h2>{{ total | round(2, 'common') }}</h2>
<form name="export" method="post">
    <input type="submit" name="export_to_xml" value="Export to XML">
    <input type="submit" name="ok" value="OK!">
</form>
<p><a href="{{ url_for('shop_select_page') }}"> К списку магазинов<a></p>
<a href="{{ url_for('feedback_page') }}">Оставить отзыв</a>
</body>
</html>
