<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                for (var i = 0; i < messages.length; i++) {
                    alert(messages[i]);
                }
            </script>
        {% endif %}
    {% endwith %}
    <link href="static/css/style.css" rel="stylesheet">
    <style>
        body {
            background-image: url("static/images/order.jpg");
            -webkit-background-size: 200%;
        }
    </style>
</head>
<body>
<form name="products" method="post" action="">
    <ul id="products">
        {% for item in products %}
            <li>
                <a href="{{ url_for('product_page', product_id=item.id) }}">{{ item.name }}</a>
                <input type="submit" value="+" name="{{ item.id }}">
            </li>
        {% endfor %}
    </ul>
    <p><a href="{{ url_for('shop_select_page') }}"> Назад к магазинам<a></p>
    {% if show_order_link %}
        <p><a href="{{ url_for('order_page') }}"> Перейти к заказу <a></p>
    {% endif %}
</form>
</body>
</html>
