<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
</head>
<body>
{#    <form name="search" method="post" action=""">#}
{#        <b>Поиск:</b><br/>#}
{#        <input name="search_line" type="text" size="200" value="{{ request.form.search_line }}">#}
{#        <br/>#}
{#        <b>Поиск:</b>#}
{#        <input name="" type="checkbox" value="{{  }}">#}
{#        <b>Поиск:</b>#}
{#        <input name="" type="checkbox" value="{{  }}">#}
{#        <b>Поиск:</b>#}
{#        <input name="" type="checkbox" value="{{  }}">#}
{#        <br/>#}
{#        <input class="btn btn-default" type="submit" value="Поиск">#}
{#    </form>#}
{#    <ul id="products">#}
{#    {% for item in products %}#}
{#        <li><a href="{{ item.href }}">{{ item.caption }}</a><input type="checkbox" value="{{ item.add_to_cart }}"></li>#}
{#    {% endfor %}#}
{#    </ul>#}
</body>
</html>